@media (min-width: 767px) and (max-width: 1024px){
    .maintext{
        font-size: 120px;
        top: 45%;
    }

    .text{
        font-size: 14px;
        width: 40%;
    }
    
    .pupa{
        font-size: 120px;
        width: 200vw;
        position: absolute;
        top: 30%;
    }
    #canvas1{
        position: absolute;
        margin-top: -20vw;
    }
    .bottomfirst{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 4vw;
        height: 100vh;
    }

    .dop1, .dop2{
        z-index: 10;
    }
}

@media (min-width: 374px) and (max-width: 430px){
    .maintext{
        font-size: 60px;
        top: 45%;
    }

    .text{
        font-size: 6px;
        width: 40%;
    }
    
    .pupa{
        font-size: 100px;
        position: absolute;
        top: 20%;
    }

    .bottomfirst{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 4vw;
        height: 100vh;
    }

    .dop1, .dop2{
        z-index: 10;
    }
}